@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src:
        url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
            format("embedded-opentype"),
        url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
        url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
        url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* =======================================================
*
* 	Template Style
*
* ======================================================= */
body {
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial,
        sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #454242;
    background: #fff;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.offcanvas #page {
    overflow: hidden;
    position: absolute;
}
.offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
}

a {
    color: #e57851;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover,
a:active,
a:focus {
    color: #e57851;
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure,
input
{
    color: #000;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial,
        sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

::-webkit-selection {
    color: #fff;
    background: #e57851;
}

::-moz-selection {
    color: #fff;
    background: #e57851;
}

::selection {
    color: #fff;
    background: #e57851;
}

.gtco-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
}
@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media screen and (max-width: 820px) {
    .gtco-container {
        padding: 15px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .gtco-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .gtco-container {
        max-width: 1140px;
    }
}

.gtco-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 40px 0;
    z-index: 1001;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 820px) {
    .gtco-nav {
        padding: 20px 0;
    }
}
.gtco-nav #gtco-logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}
.gtco-nav a {
    padding: 5px 10px;
    color: #fff;
}

.gtco-nav img {
    width: 120px;
    background-color: #fff;
}
@media screen and (max-width: 820px) {
    .gtco-nav .menu-1,
    .gtco-nav .menu-2 {
        display: none;
    }
    .gtco-nav #gtco-logo a {
        padding: 15px 0;
    }
}

.gtco-nav ul {
    padding: 0;
    margin: 2px 0 0 0;
}
.gtco-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}

.gtco-nav ul li a {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: transform 0.3s ease;
}
.gtco-nav ul li a::before,
.gtco-nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: translateX(-10%);
    transition: transform 0.3s ease;
    opacity: 0;
}
.gtco-nav ul li a::after {
    top: 0;
}
.gtco-nav ul li a:hover::before,
.gtco-nav ul li a:hover::after{
    opacity: 1;
    transform: translateX(0);
}
.gtco-nav ul li.active > a {
    opacity: 1;
}
.gtco-nav ul li a:hover,
.gtco-nav ul li a:focus,
.gtco-nav ul li a:active {
    opacity: 0.8;
}
.gtco-nav ul li.has-dropdown {
    position: relative;
}
.gtco-nav ul li.has-dropdown .dropdown {
    width: 130px;
    -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}
.gtco-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
}
.gtco-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 7px;
}
.gtco-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0;
}
.gtco-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: #999999;
    line-height: 1.2;
    text-transform: none;
    font-size: 15px;
}
.gtco-nav ul li.has-dropdown .dropdown li a:hover {
    color: #000;
}
.gtco-nav ul li.has-dropdown:hover a,
.gtco-nav ul li.has-dropdown:focus a {
    color: #fff;
}
.gtco-nav ul li.btn-cta a {
    color: #fff;
    opacity: 1;
}
.gtco-nav ul li.btn-cta a span {
    background: #fff;
    padding: 4px 20px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
}
.gtco-nav ul li.btn-cta a:hover span {
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

#gtco-header,
#gtco-counter,
.gtco-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}
#gtco-header {
    background: #0f54ab;
}

.gtco-bg {
    background-position: center center;
    background-attachment: fixed;
    transform: translateZ(0);
    width: 100%;
    float: left;
    position: relative;
}

.gtco-video,
.gtco-image, {
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}
.gtco-video.gtco-bg {
    background-image: url(../images/Boltix-Decking-Board-Video-Cover.JPG);
    background-size: cover;
    background-position: center bottom;
    height: 450px;
}
.gtco-video a {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    display: table;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.gtco-video a i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
}
.gtco-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.gtco-video:hover .overlay {
    background: rgba(0, 0, 0, 0.7);
}
.gtco-video:hover a {
    position: relative;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.gtco-cover {
    height: 980px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
}

.gtco-cover .overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}
.gtco-cover > .gtco-container {
    position: relative;
    z-index: 10;
}
@media screen and (max-width: 820px) {
    .gtco-cover {
        height: 1000px;
    }
}
.gtco-cover .display-t,
.gtco-cover .display-tc {
    height: 820px;
    display: table;
    width: 100%;
}
@media screen and (max-width: 820px) {
    .gtco-cover .display-t,
    .gtco-cover .display-tc {
        height: 600px;
        padding-top: 30px;
    }
}
.gtco-cover.gtco-cover-sm {
    height: 600px;
}
@media screen and (max-width: 820px) {
    .gtco-cover.gtco-cover-sm {
        height: 400px;
    }
}
.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
    height: 600px;
    display: table;
    width: 100%;
}
@media screen and (max-width: 820px) {
    .gtco-cover.gtco-cover-sm .display-t,
    .gtco-cover.gtco-cover-sm .display-tc {
        height: 400px;
    }
}

#gtco-counter .display-t,
#gtco-counter .display-tc {
    height: 500px;
    display: table;
    width: 100%;
}
@media screen and (max-width: 820px) {
    #gtco-counter {
        height: inherit;
        padding: 2em 0;
    }
    #gtco-counter .display-t,
    #gtco-counter .display-tc {
        height: inherit;
    }
}

.gtco-staff {
    text-align: center;
    margin-bottom: 30px;
}
.gtco-staff img {
    width: 100px;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.gtco-staff h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
.gtco-staff p {
    margin-bottom: 30px;
}
.gtco-staff .role {
    color: #bfbfbf;
    margin-bottom: 30px;
    font-weight: normal;
    display: block;
}

.gtco-social-icons {
    margin: 0;
    padding: 0;
}
.gtco-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.gtco-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
    color: #e57851;
    padding-left: 10px;
    padding-right: 10px;
}
.gtco-social-icons li a i {
    font-size: 20px;
}

.gtco-contact-info ul {
    padding: 0;
    margin: 0;
}
.gtco-contact-info ul li {
    padding: 0 0 0 30px;
    margin: 0 30px 30px 0;
    list-style: none;
    position: relative;
}
.gtco-contact-info ul li:before {
    color: #e57851;
    position: absolute;
    left: 0;
    top: 0.2em;
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.gtco-contact-info ul li.address:before {
    font-size: 20px;
    content: "\e9d1";
}
.gtco-contact-info ul li.phone a,
.gtco-contact-info ul li.email a
{
    color: #fff;
}
.gtco-contact-info ul li.phone:before {
    font-size: 20px;
    content: "\e9f4";
}
.gtco-contact-info ul li.email:before {
    font-size: 20px;
    content: "\e9da";
}
.gtco-contact-info ul li.url:before {
    font-size: 20px;
    content: "\e9af";
}

form label {
    font-weight: normal !important;
}

#gtco-header .display-tc,
#gtco-counter .display-tc,
.gtco-cover .display-tc {
    display: table-cell !important;
    vertical-align: middle;
}
#gtco-header .display-tc h1,
#gtco-header .display-tc h2,
#gtco-counter .display-tc h1,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
    margin: 0;
    padding: 0;
    color: white;
}
#gtco-header .display-tc h1,
#gtco-counter .display-tc h1,
.gtco-cover .display-tc h1 {
    margin-bottom: 0px;
    font-size: 45px;
    line-height: 110%;
}
@media screen and (max-width: 820px) {
    #gtco-header .display-tc h1,
    #gtco-counter .display-tc h1,
    .gtco-cover .display-tc h1 {
        font-size: 40px;
    }
}
#gtco-header .display-tc h2,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h2 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}
#gtco-header .display-tc .btn,
#gtco-counter .display-tc .btn,
#fixed-header .gtco-cover .btn,
.btn.header-btn-show{
    padding: 13px 25px;
    background: #e57851 !important;
    color: #fff;
    border: none !important;
    font-size: 16px;
}
#gtco-header .display-tc .btn:hover,
#gtco-counter .display-tc .btn:hover,
.gtco-cover .display-tc .btn:hover,
.gtco-nav ul li #contact-btn:hover {
    background: #fff !important;
    color: #e57851;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#fixed-header #menu-container li a {
    color: #000;
}

#gtco-counter {
    text-align: center;
}
#gtco-counter .counter {
    font-size: 30px;
    margin-bottom: 10px;
    color: #fff;
    display: block;
}
#gtco-counter .counter-label {
    margin-bottom: 0;
    color: #fff;
    letter-spacing: 0.1em;
}
@media screen and (max-width: 820px) {
    #gtco-counter .feature-center {
        margin-bottom: 50px;
    }
}
#gtco-counter .icon {
    width: 20px;
    height: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    margin-bottom: 0;
}
#gtco-counter .icon i {
    height: 20px;
    opacity: 80%;
}
#gtco-counter .icon i:before {
    display: block;
    text-align: center;
}

#gtco-features,
#gtco-features-1,
#gtco-features-2,
#gtco-testimonial,
#gtco-comparison,
#gtco-services,
#gtco-footer,
.gtco-section {
    padding: 7em 0;
    clear: both;
}

#gtco-features {
    background: #efefef;
}
@media screen and (max-width: 820px) {
    #gtco-features,
    #gtco-features-1,
    #gtco-features-2,
    #gtco-testimonial,
    #gtco-comparison,
    #gtco-services,
    #gtco-footer,
    .gtco-section {
        padding: 3em 0;
    }
}

#gtco-features-2 {
    position: relative;
    float: left;
    width: 100%;
}

.feature-center {
    text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
}
@media screen and (max-width: 820px) {
    .feature-center {
        margin-bottom: 50px;
    }
}
.feature-center .icon {
    width: 90px;
    height: 90px;
    background: #efefef;
    display: table;
    text-align: center;
    margin: 0 auto 30px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.feature-center .icon i {
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    font-size: 12px;
    line-height: 15px;
    color: #E91E63;
}
.feature-center p,
.feature-center h3 {
    margin-bottom: 30px;
}
.feature-center p {
    margin-bottom: 30px;
    text-align: left;
}
.feature-center h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #5d5d5d;
}

@media screen and (min-width: 768px) {
    .feature-left {
        float: left;
        width: 100%;
        margin-bottom: 30px;
        position: relative;
    }
}

.feature-left:last-child {
    margin-bottom: 0;
}
.feature-left .icon {
    float: left;
    margin-right: 5%;
    width: 20px;
    height: 20px;
    background: #e57851;
    display: table;
    text-align: center;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
@media screen and (max-width: 820px) {
    .feature-left .icon {
        margin-right: 5%;
    }
}
.feature-left .icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
}
.feature-left .feature-copy {
    float: left;
    width: 80%;
}
@media screen and (max-width: 820px) {
    .feature-left .feature-copy {
        width: 100%;
        float: none;
    }
}
.feature-left .feature-copy h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #5d5d5d;
    margin-bottom: 10px;
}

.gtco-heading {
    margin-bottom: 5em;
}
.gtco-heading.gtco-heading-sm {
    margin-bottom: 2em;
}
.gtco-heading h2 {
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
}
@media screen and (max-width: 820px) {
    .gtco-heading h2 {
        font-size: 28px
    }
}
.gtco-heading p {
    font-size: 18px;
    line-height: 1.5;
    color: #454242;
}

#gtco-testimonial {
    background: #efefef;
}
#gtco-testimonial .testimony-slide {
    text-align: center;
}
#gtco-testimonial .testimony-slide span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    display: block;
}
#gtco-testimonial .testimony-slide figure {
    margin-bottom: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
#gtco-testimonial .testimony-slide figure img {
    width: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
#gtco-testimonial .testimony-slide blockquote {
    border: none;
    margin: 30px auto;
    width: 50%;
    position: relative;
    padding: 0;
}
@media screen and (max-width: 992px) {
    #gtco-testimonial .testimony-slide blockquote {
        width: 100%;
    }
}
#gtco-testimonial .arrow-thumb {
    position: absolute;
    top: 40%;
    display: block;
    width: 100%;
}
#gtco-testimonial .arrow-thumb a {
    font-size: 32px;
    color: #dadada;
}

#gtco-testimonial .arrow-thumb a:hover,
#gtco-testimonial .arrow-thumb a:focus,
#gtco-testimonial .arrow-thumb a:active {
    text-decoration: none;
}

.gtco-tabs .gtco-tab-nav {
    clear: both;
    margin: 0 0 3em 0;
    padding: 3px;
    float: left;
    width: 100%;
    background: #f2f2f2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.gtco-tabs .gtco-tab-nav li {
    float: left;
    margin: 0;
    padding: 0;
    width: 20%;
    text-align: center;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
}
.gtco-tabs .gtco-tab-nav li .icon {
    font-size: 30px;
}
.gtco-tabs .gtco-tab-nav li a {
    padding: 20px;
    width: 100%;
    float: left;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #676161;
}
.gtco-tabs .gtco-tab-nav li a:hover {
    color: #4d4d4d;
}
.gtco-tabs .gtco-tab-nav li.active {
    background: #fff;
}
.gtco-tabs .gtco-tab-nav li.active a {
    color: #e57851;
}

.gtco-tabs .gtco-tab-content-wrap {
    clear: both;
    position: relative;
    top: 70px;
}
.gtco-tabs .gtco-tab-content-wrap .tab-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}
.gtco-tabs .gtco-tab-content-wrap .tab-content.active {
    opacity: 1;
    visibility: visible;
}
.gtco-tabs .icon-xlg {
    font-size: 400px;
    margin-bottom: 30px;
    text-align: center;
}
@media screen and (max-width: 820px) {
    .gtco-tabs .icon-xlg {
        font-size: 300px;
    }
    .gtco-tabs .gtco-tab-nav li {
        height: 80px;
    }
}
@media screen and (max-width: 480px) {
    .gtco-tabs .icon-xlg {
        font-size: 200px;
    }
}
.gtco-tabs .icon-xlg i {
    color: #e57851;
}

#gtco-started {
    background: #0f54ab;
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cc1bd', endColorstr='#3f95ea', GradientType=1 );
}
#gtco-started .gtco-heading h2,
#gtco-started h2,
#gtco-started form label,
#gtco-started li {
    color: #fff !important;
}
#gtco-started ul {
    display: inline-flex;
}
@media screen and (max-width: 820px) {
    #gtco-started ul {
        flex-direction: column;
        text-align: left;
    }
}

#gtco-started .form-control {
    background: rgba(255, 255, 255, 0.2);
    border: none !important;
    color: #fff;
    font-size: 16px !important;
    width: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#gtco-started .form-select {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23FFF' d='M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z'/%3E%3C/svg%3E") !important;    background-repeat: no-repeat !important;
    background-position: calc(100% - 15px) center !important;
    background-size: 12px !important;
    padding-right: 40px !important;
}
#gtco-started .form-control::-webkit-input-placeholder {
    color: #fff;
}
#gtco-started .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}
#gtco-started .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}
#gtco-started .form-control:-ms-input-placeholder {
    color: #fff;
}
#gtco-started .form-control:focus {
    background: rgba(255, 255, 255, 0.3);
}
#gtco-started .btn {
    height: 54px;
    border: none !important;
    background: #e57851;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
}
#gtco-started .btn:hover
{
    color:#e57851;
}
#gtco-started .form-inline .form-group {
    width: 100% !important;
    margin-bottom: 10px;
}
#gtco-started .form-inline .form-group .form-control {
    width: 100%;
}
#gtco-started .gtco-heading {
    margin-bottom: 30px;
}
#gtco-started .gtco-heading h2 {
    margin-bottom: 0;
}

#gtco-footer .gtco-footer-links {
    padding: 0;
    margin: 0;
}
#gtco-footer .gtco-footer-links li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#gtco-footer .gtco-footer-links li a {
    color: #000;
    text-decoration: none;
}
#gtco-footer .gtco-footer-links li a:hover {
    text-decoration: underline;
}
#gtco-footer .gtco-widget {
    margin-bottom: 30px;
}
#gtco-footer .gtco-widget h3 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@media screen and (max-width: 820px) {
    #gtco-footer .copyright .pull-left,
    #gtco-footer .copyright .pull-right {
        float: none !important;
        text-align: center;
    }
}
#gtco-footer .copyright .block {
    display: block;
}

.owl-carousel .owl-controls .owl-dot span {
    background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover,
.owl-carousel .owl-controls .owl-dot span:focus {
    background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot:hover span,
.owl-carousel .owl-controls .owl-dot:focus span {
    background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
    background: transparent;
    border: 2px solid #e57851;
}

#gtco-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: #fff;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 45px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.offcanvas #gtco-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}
#gtco-offcanvas a {
    color: rgba(0, 0, 0, 0.5);
}
#gtco-offcanvas a:hover {
    color: rgba(0, 0, 0, 0.8);
}
#gtco-offcanvas ul {
    padding: 0;
    margin: 0;
}
#gtco-offcanvas ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#gtco-offcanvas ul li a {
    font-size: 20px;
}
#gtco-offcanvas ul li > ul {
    padding-left: 20px;
    display: none;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown > a {
    display: block;
    position: relative;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown > a:after {
    position: absolute;
    right: 0px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e921";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.uppercase {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.gototop.active {
    opacity: 1;
    visibility: visible;
}
.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
.gototop a:hover,
.gototop a:active,
.gototop a:focus {
    text-decoration: none;
    outline: none;
}

.gtco-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}
.gtco-nav-toggle.active i::before,
.gtco-nav-toggle.active i::after {
    background: #444;
}
.gtco-nav-toggle:hover,
.gtco-nav-toggle:focus,
.gtco-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}
.gtco-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/0.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    transition: all 0.2s ease-out;
}
.gtco-nav-toggle i::before,
.gtco-nav-toggle i::after {
    content: "";
    width: 25px;
    height: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-out;
}
.gtco-nav-toggle.gtco-nav-white > i {
    color: #fff;
    background: #fff;
}
.gtco-nav-toggle.gtco-nav-white > i::before,
.gtco-nav-toggle.gtco-nav-white > i::after {
    background: #fff;
}

.gtco-nav-toggle i::before {
    top: -7px;
}

.gtco-nav-toggle i::after {
    bottom: -7px;
}

.gtco-nav-toggle:hover i::before {
    top: -10px;
}

.gtco-nav-toggle:hover i::after {
    bottom: -10px;
}

.gtco-nav-toggle.active i {
    background: transparent;
}

.gtco-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.gtco-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.gtco-nav-toggle {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 21;
    padding: 20px 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
}
@media screen and (max-width: 820px) {
    .gtco-nav-toggle {
        display: block;
    }
    #gtco-offcanvas {
        display: block;
    }
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}
.btn.btn-md {
    padding: 8px 20px !important;
}
.btn.btn-lg {
    padding: 18px 36px !important;
}
.btn:hover,
.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary {
    background: #e57851;
    color: #fff;
    border: 1px solid #e57851;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #fff !important;
    border-color: #e57851 !important;
    color: #e57851;
}
.btn-primary.btn-outline {
    background: transparent;
    color: #fff;
    border: 1px solid #e57851;
    color: #e57851;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
    background: #e57851;
    color: #fff;
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
}
.btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
    background: #5cb85c;
    color: #fff;
}

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
}
.btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff;
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
}
.btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
    background: #f0ad4e;
    color: #fff;
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
    background: #d9534f;
    color: #fff;
}

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    box-shadow: none;
}

.btn.with-arrow {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.btn.with-arrow:hover {
    padding-right: 50px;
}
.btn.with-arrow:hover i {
    color: #fff;
    right: 18px;
    visibility: visible;
    opacity: 1;
}

.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
}
.form-control:active,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #e57851;
}

.row-pb-md {
    padding-bottom: 4em !important;
}

.row-pb-sm {
    padding-bottom: 2em !important;
}

.gtco-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
    opacity: 0;
}
.main-screen-text {
    color: #fff;
    margin: 35px auto;
    font-size: 18px;
    line-height: 150%;
}

.top-img {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 400px;
    height: auto;
    z-index: 10;
    border-radius: 10px;
}

.bottom-img {
    position: absolute;
    top: 30%;
    left: 100px;
    width: 480px;
    filter: brightness(80%);
    border-radius: 10px;
}

#fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px; /* Adjust based on your header height */
    background-color: #fff;
    padding-top: 22px;
    box-shadow: 4px 4px 18px rgba(137, 141, 154, .3);
}
@media screen and (max-width: 820px) {

    #fixed-header {
        padding-top: 8px;
    }
}
.header-btn {
    display: none;
}

.header-btn-show {
    display: inherit;
}

.gtco-nav ul li.btn-cta a.header-btn-show span {
    background-color: #e57851;
    color: #fff;
}

.feature-data-container {
    display: inline-flex;
    align-items: center;
}

.feature-data-container .unit {
    color: #fff;
    font-size: 18px;
    padding-left: 10px;
}

.icon-container {
    display: inline-flex;
    align-items: center;
}

.counter-label {
    margin-left: 10px;
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    opacity: 70%;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial,
            sans-serif;
}

.comparison-chart {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    box-shadow: 4px 4px 18px rgba(137,141,154,.3);
}
.product-image {
    width: 100%;
    height: auto;
}
.highlight-block {
    display: flex;
    align-items: center;
}

.highlight-block .line {
    background-color: #2196F3;
    opacity: .6;
    flex: 1 0 2.083vw;
    height: 1px;
}
.highlight-block p {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    margin: 0 32px;
    font-size: 14px;
    opacity: .6;
}
.highlight-item {
    display: inline-flex;
    width: 100%;
    justify-items: center;
}
.highlight-text {
    display: inline-block;
    opacity: .8;
    color: #fff;
    font-size: 14px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    text-align: center;
}
.gtco-heading p.small-text {
    color: #000;
    font-size: 16px;
}
#gtco-comparison {
   background: #efefef;
}

#gtco-comparison h2{
    color: #000;
    font-weight: 400;
    margin-bottom: 30px;
}

.image-display {
    display: flex;
    flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

.main-image {
 display: flex;
  width: 100%;
  height: 400px;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.main-image img {
  width: 100%;
  height: auto;
}

.thumbnail-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.thumbnail {
  width: 25%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.thumbnail:hover {
  opacity: 0.7;
}

#form-message-success {
    position: absolute;
    background-color: #fff;
    border: 1px solid #0f54ab;
    border-radius: 4px;
    margin: 0;
    padding: 20px;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#form-message-success h3 {
    color: #e57851;
    font-size: 23px;
}

/*# sourceMappingURL=style.css.map */
