<a href="#" class="js-gtco-nav-toggle gtco-nav-toggle gtco-nav-white"
    ><i></i
></a>
<div id="gtco-offcanvas">
    <ul>
        <li class="active">
            <a href="{{ '/index.html' | relative_url }}">Home</a>
        </li>
        <li><a href="{{ '/blog.html' | relative_url }}">Blog</a></li>
    </ul>
</div>
<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-4 col-xs-5">
                <div id="gtco-logo">
                    <a href="{{ '/' | relative_url }}">
                        <img
                            src="{{ '/images/Boltix-Logo.webp' | relative_url }}"
                            alt="Boltix Logo"
                        />
                    </a>
                </div>
            </div>
            <div class="col-xs-8 text-right menu-1">
                <ul>
                    <li>
                        <a href="{{ '/' | relative_url }}">Home</a>
                    </li>
                    <li class="active">
                        <a href="{{ '/blog.html' | relative_url }}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header id="gtco-header" class="gtco-cover sub-page-cover" role="banner">
    <div class="overlay"></div>
</header>
